@{
    ViewData["Title"] = $"О нас - МебельМаркет";
}

<div class="about-us-top-area section-top-gap-100" style="margin-top: 30px; margin-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-top-content text-center">
                    <h4>Добро пожаловать в наш магазин!</h4>
                    <p>Наш магазин всегда радует своих покупателей низкими ценами и высоким качеством мебели.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-center-area section-top-gap-100"  style="margin-top: 25px; margin-bottom: 30px;">
    <div class="container">
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        <div class="faq-accordian-single-item">
                            <input id="item-1" name="accordian-item" type="radio" checked="">
                            <label for="item-1">Оплата товара</label>
                            <div class="item-content">
                                <p>Оплата в нашем магазине может осуществляться как по наличному, так и по безналичному расчету.</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-2" name="accordian-item" type="radio">
                            <label for="item-2">Товары надлежащего качества</label>
                            <div class="item-content">
                                <p>При возврате товара надлежащего качества, мы вернем вам стоимость возвращаемого товара за вычетом стоимости услуг по обратной доставке. Стоимость обратной доставки рассчитывается по тарифам доставки до клиента.</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-3" name="accordian-item" type="radio">
                            <label for="item-3">Товары ненадлежащего качества</label>
                            <div class="item-content">
                                <p>При возврате товара ненадлежащего качества мы компенсируем вам не только стоимость товара, но и стоимость оказанных нами услуг.</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-4" name="accordian-item" type="radio">
                            <label for="item-4">Порядок возврата денежных средств</label>
                            <div class="item-content">
                                <p>Мы возвращаем денежные средства тем же способом, каким была произведена оплата. Если возврат этим способом невозможен, мы производим возврат способом, согласованным с покупателем.</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-5" name="accordian-item" type="radio">
                            <label for="item-5">Сборка в день доставки</label>
                            <div class="item-content">
                                <p>Профессиональные сотрудники службы сервиса осуществят сборку мебели в тот же день, и вам не придётся тратить свое время дважды.</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-6" name="accordian-item" type="radio">
                            <label for="item-6">Работают профессионалы</label>
                            <div class="item-content">
                                <p>У нас работают только экипажи с опытом профессиональной сборки мебели, которые грамотно произведут все работы и не повредят изделия во время сборки. Мебель будет установлена точно в указанное вами место.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

