@{
    ViewData["Title"] = $"Доставка - МебельМаркет";
}

<div class="about-us-top-area section-top-gap-100" style="margin-top: 30px; margin-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-top-content text-center">
                    <h4>Добро пожаловать в наш магазин!</h4>
                    <p>Наш магазин всегда радует своих покупателей низкими ценами и высоким качеством мебели.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-center-area section-top-gap-100"  style="margin-top: 25px; margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-center-content text-center">
                    <h4>Почему мы?</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-1.jpg" alt="">
                    <h6>Ассортимент</h6>
                    <p>Мы предлагаем широкий ассортимент продукции, где каждый сможет найти вариант с подходящим качеством, функционалом и дизайном</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-2.jpg" alt="">
                    <h6>Возврат</h6>
                    <p>Мы не просто уважаем мнение наших покупателей, мы доверяем ему. Если продукт, который вы приобрели в наших магазинах не понравился вам по вкусу или не соответствует вашим представлениям о качестве – верните его обратно</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-3.jpg" alt="">
                    <h6>Онлайн-поддержка 24/7</h6>
                    <p>Наши менеджеры свяжутся и проконсультируют Вас в любое время суток</p>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        <div class="faq-accordian-single-item">
                            <input id="item-1" name="accordian-item" type="radio" checked="">
                            <label for="item-1">Convenient User Interface</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-2" name="accordian-item" type="radio">
                            <label for="item-2">Lorem ipsum dolor sit amet.</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-3" name="accordian-item" type="radio">
                            <label for="item-3">Aliquid esse atque eveniet fugiat ullam</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-4" name="accordian-item" type="radio">
                            <label for="item-4">Tenetur, facilis neque error earum facere exercitationem!</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-5" name="accordian-item" type="radio">
                            <label for="item-5">Perspiciatis ut ipsa cum molestias quaerat laborum.</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                        <div class="faq-accordian-single-item">
                            <input id="item-6" name="accordian-item" type="radio">
                            <label for="item-6">Responsive Design</label>
                            <div class="item-content">
                                <p>Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

