@{
    ViewData["Title"] = $"Доставка - МебельМаркет";
}

<div class="faq-section" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h5>Доставка по всей России</h5>
                    <p>Если Вас заинтересовал товар из нашего каталога, менеджер нашего магазина предложит Вам наилучшие условия доставки Вашего заказа.</p>
                    <p>В населенные пункты по маршруту из г. Уфы до г. Янаул доставка осуществляется бесплатно!</p>
                </div>
            </div>
        </div>
    </div>
</div>