@{
    ViewData["Title"] = $"Оплата - МебельМаркет";
}

<div class="faq-section" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h5>Реквизиты для оплаты</h5>
                    <p>БИК</p>
                    <p>Кор. счет</p>
                    <p>Расчетный счет</p>
                </div>
            </div>
        </div>
    </div>
</div>