@model IEnumerable<FurnitureTypeViewModel>
@using MebelMarket.Infrastructure.Interfaces
@inject IFurnitureData catalog;

<li>
    <a href="#"><span>Категории</span></a>
    @{
        for (int i = 1; i < @catalog.GetAllCategories().Count() + 1; i++)
        {
            <ul class="mobile-sub-menu">
                <li>
                    <a href="#">@catalog.GetAllCategories().FirstOrDefault(x => x.Id == i).Name</a>
                    <ul class="mobile-sub-menu">
                        @foreach (var product in Model.Where(x => x.Category == i))
                        {
                            <li><a asp-controller="Furniture" asp-action="Grid" asp-route-id="@product.Id">@product.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        }
    }
</li>