@model IEnumerable<FurnitureViewModel>

@foreach (var product in Model)
{
    <div class="product-default-single border-around">
        <div class="product-img-warp">
            <a asp-controller="Furniture" asp-action="Index" asp-route-id="@product.Id" class="product-default-img-link">
                <img src="~/images/products_images/aments_products_image_2.jpg" alt="" class="product-default-img img-fluid">
            </a>
            <div class="product-action-icon-link">
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i class="icon-eye"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="product-default-content">
            <h6 class="product-default-link"><a asp-controller="Furniture" asp-action="Index" asp-route-id="@product.Id">@product.Name</a></h6>
            <span class="product-default-price">@product.Price</span>
        </div>
    </div>
}
