@model OrderViewModel

<div class="modal-content">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-dark">
                    <h3>Заказать бесплатный звонок</h3>
                    <p>Заполните форму и мы перезвоним вам в течение 5 мин</p>
                </div>
                <div class="col text-right">
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <form asp-action="SendEmail" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="ID" type="hidden" />
                    <br />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-warning"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-warning"></span>
                    </div>
                    <input asp-for="Description" type="hidden" />
                    <br />

                    <div class="form-group col-6" style="margin: auto;">
                        <input type="submit" value="Заказать звонок" class="hero-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}