@model FurnitureViewModel
@using MebelMarket.Infrastructure.Interfaces

@{
    ViewData["Title"] = "Админка - создание";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" type="hidden" />
                <br />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="IsNew" class="control-label"></label>
                    <input asp-for="IsNew" class="checkbox">
                    <span asp-validation-for="IsNew" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="IsFeatured" class="control-label"></label>
                    <input asp-for="IsFeatured" class="checkbox">
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ForOffice" class="control-label"></label>
                    <input asp-for="ForOffice" class="checkbox">
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Width" class="control-label"></label>
                    <input asp-for="Width" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Height" class="control-label"></label>
                    <input asp-for="Height" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Upholstery" class="control-label"></label>
                    <input asp-for="Upholstery" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="Filler" class="control-label"></label>
                    <input asp-for="Filler" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="BodyMaterial" class="control-label"></label>
                    <input asp-for="BodyMaterial" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="FacadeMaterial" class="control-label"></label>
                    <input asp-for="FacadeMaterial" class="form-control">
                </div>

                <br />
                <div class="form-group">
                    <label asp-for="DiscountValue" class="control-label"></label>
                    <input asp-for="DiscountValue" class="form-control">
                </div>



                <br />
                <div class="form-group">
                    @inject IFurnitureData catalog;
                    <label asp-for="Type">Выберите тип:</label>
                    <select asp-for="Type" asp-items="@new SelectList(catalog.GetAllTypes().Select(x => x.Name))"></select>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Создать" class="hero-button" />
                </div>
            </form>
        </div>
    </div>
</div>

