@model FurnitureViewModel
@using MebelMarket.Infrastructure.Interfaces

@{
    ViewData["Title"] = "Админка - Редактирование";
}
@inject IFurnitureData catalog;
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" type="hidden" />
                <br />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <br />
                            <div class="form-group">
                                <select asp-for="Type" asp-items="@new SelectList(catalog.GetAllTypes().Select(x => x.Name))"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DiscountValue" class="control-label"></label>
                                <input asp-for="DiscountValue" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IsNew" class="control-label"></label>
                                <input asp-for="IsNew" class="checkbox">
                                <span asp-validation-for="IsNew" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IsFeatured" class="control-label"></label>
                                <input asp-for="IsFeatured" class="checkbox">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ForOffice" class="control-label"></label>
                                <input asp-for="ForOffice" class="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Width" class="control-label"></label>
                                <input asp-for="Width" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Height" class="control-label"></label>
                                <input asp-for="Height" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Length" class="control-label"></label>
                                <input asp-for="Length" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Upholstery" class="control-label"></label>
                                <input asp-for="Upholstery" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Filler" class="control-label"></label>
                                <input asp-for="Filler" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BodyMaterial" class="control-label"></label>
                                <input asp-for="BodyMaterial" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FacadeMaterial" class="control-label"></label>
                                <input asp-for="FacadeMaterial" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Color1" class="control-label"></label>
                                <input asp-for="Color1" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color2" class="control-label"></label>
                                <input asp-for="Color2" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color3" class="control-label"></label>
                                <input asp-for="Color3" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color4" class="control-label"></label>
                                <input asp-for="Color4" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color9" class="control-label"></label>
                                <input asp-for="Color9" class="checkbox">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Color5" class="control-label"></label>
                                <input asp-for="Color5" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color6" class="control-label"></label>
                                <input asp-for="Color6" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color7" class="control-label"></label>
                                <input asp-for="Color7" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color8" class="control-label"></label>
                                <input asp-for="Color8" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color10" class="control-label"></label>
                                <input asp-for="Color10" class="checkbox">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Color11" class="control-label"></label>
                                <input asp-for="Color11" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color12" class="control-label"></label>
                                <input asp-for="Color12" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color13" class="control-label"></label>
                                <input asp-for="Color13" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color14" class="control-label"></label>
                                <input asp-for="Color14" class="checkbox">
                            </div>
                            <div class="form-group">
                                <label asp-for="Color15" class="control-label"></label>
                                <input asp-for="Color15" class="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Изменить" class="hero-button" />
                </div>
            </form>
        </div>
    </div>
</div>